<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% celebs.forEach((celeb) => { %>
      <p>  <a href=" /celebs/<%= celeb._id %> "><%= celeb.name %> </a></p>
    <% }); %>
  </body>
</html>
